<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

<!--     map mysql driver for hibernate-->
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

<!--    api database eka select karanawa name ekak dila ehema name ekakin database ekak nethnm hadenna kiyala denawa-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_gdse_72?createDatabaseIfNotExist=true</property>

<!--    set username-->
    <property name="hibernate.connection.username">root</property>

<!--    set password-->
    <property name="hibernate.connection.password">Manu2006</property>

<!--    mysql version eka denawa-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

    <!--    entity walata adalawa tables create karaganna meka denawa-->
    <property name="hibernate.hbm2ddl.auto">update</property>

<!--    create dunnoth table aluthenma hadenawa ethakota
 parana data penne na aluthen eka witharai penne  eka nisa update danwa-->

<!--    terminal ekedi query eka balaganna meka true karanawa terminal eke show wenawa-->
    <property name="hibernate.show_sql">true</property>

  </session-factory>
</hibernate-configuration>